<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ninjas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Ninjas</h1>
        <p>The ninja was a covert agent in feudal Japanese times who specialized in unorthodox warfare including espionage, sabotage, infiltration, and assassination. Compared to the samurai who were very upfront and honorable with their tactics, the ninja proved a stark contrast.</p>
    </div>
</body>

</html>