* {
    /*outline: 1px solid red;*/
    padding: 0px;
    margin: 0px;
}

.container {
    width: 1000px;
    margin: 0px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
}

h1 {
    width: 396px;
    padding-left: 5px;
    border-bottom: 2px solid black;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;

}

table {
    width: 700px;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    font-weight: bold;
}


tr:hover {
    background-color: #f5f5f5;
}

#btn_submit {
    width: 80px;
    margin-left: 320px;
    padding: 2px;
    cursor: pointer;
}

#user_info {
    width: 400px;
    text-align: right;
}

